<ion-header>
  <ion-toolbar>
    <ion-title>Galería de Genios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Usamos *ngFor para recorrer el array de URLs de fotos -->
      <ion-col size="6" size-md="4" *ngFor="let photoUrl of arrayPhotosGenious; let i = index">
        <!-- Aquí agregamos el componente 'mini-card-genious' para cada genio -->
        <app-mini-card-genious [photoUrl]="photoUrl" [name]="arrayNamesGenious[i]"></app-mini-card-genious>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
