<ion-segment value="default" [(ngModel)]="textoCategory" (ionChange)="onSearchChange($event)">
  <ion-segment-button value="todos">
    <ion-label>Todos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="math">
    <ion-label>Matemáticos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="physic">
    <ion-label>Físicos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="informatic">
    <ion-label>Informáticas</ion-label>
  </ion-segment-button>
</ion-segment>
