<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </div>

    <ion-title>
      WikiGenious
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="navigation-container">
    <app-nav (textoBuscado)="onTextSearch($event)"></app-nav> 
    <app-button-filter (categorySelected)="onCategorySearch($event)"></app-button-filter> 
  </div>

  <!-- Galería -->
  <app-gallery #gallery (geniusSelected)="onGeniusSelected($event)"></app-gallery>  

  <!-- Carta detallada (solo si hay un genio seleccionado) -->
  <app-genius-card 
  *ngIf="selectedGenius" 
  [name]="selectedGenius.name"
  [photoUrl]="selectedGenius.photoUrl"
  [category]="selectedGenius.category"
  [achievements]="selectedGenius.achievements"
  [studies]="selectedGenius.studies"
  (close)="selectedGenius = null">
  </app-genius-card>
</ion-content>

