<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </div>

    <ion-title>
      WikiGenious
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="navigation-container">
    <app-nav (textoBuscado)="onTextSearch($event)"></app-nav> 
    <app-segment-button (categorySelected)="onCategorySearch($event)"></app-segment-button> 
  </div>

  <app-gallery #gallery (geniusSelected)="onGeniusSelected($event)" ></app-gallery>
  
  
  <app-presentation-card
    *ngIf="selectedGenius"
    [genius]="selectedGenius"
    (close)="selectedGenius = null">
  </app-presentation-card>
  
</ion-content>
